.blocks_comp {
  width: 100%;
  margin: 100px 0 0 0;
}

.blocks_comp .width {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.blocks_comp .home_block {
  width: 100%;
}

.blocks_comp .block {
  max-width: 250px;
}

.blocks_comp .box_block_block {
  margin: 0 auto;
  width: 95%;
  height: 120px;
  border-radius: 12px;
  border: 1px solid #303241;
  position: relative;
  padding: 16px 12px;
  background: #171822;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box_block_block .absolune {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.blocks_comp .margen {
  width: 50%;
  height: 130px;
  display: flex;
  align-items: center;
}

.blocks_comp .box_block_block p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.blocks_comp p {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 8px;
}

.blocks_comp h1 {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  gap: 2px;
}

.blocks_comp .dollar {
  color: #303241;
}

.blocks_comp .logo_img {
  width: 28px;
  height: 28px;
  margin-right: 7px;
  border-radius: 50%;
}

.line_chart_one {
  position: absolute;
  /* margin: 40px 0 0 0; */
}

@media (max-width: 800px) {
  .blocks_comp .width {
    max-width: 800px;
    width: 100%;
  }
}