.withdraw {
  width: 100%;
  min-height: 500px;
}
.withdraw .container {
  margin: 0 auto;
  max-width: 1140px;
  width: 90%;
  height: 100%;
  padding-bottom: 100px;
}
.withdraw .holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.withdraw .holder h1 {
  color: #ffffff;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.withdraw .search_i {
  color: white;
  font-size: 20px;
  position: absolute;
  margin: 14px;
}
.withdraw .holder input {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 189%;
  position: relative;
  width: 300px;
  height: 44px;
  border-radius: 3px;
  background: rgba(38, 42, 50, 0.6);
  outline: none;
  border: none;
  padding: 0 0 0 48px;
  color: white;
}
.withdraw .wrapper {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}
.withdraw .wrapper .box {
  height: 90px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background: #262a32;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.withdraw .wrapper .box:hover {
  background: #4d535e;
}
.withdraw .wrapper .box img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.withdraw .wrapper .box h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.withdraw .wrapper .box p {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 300;
}
.withdraw .loading_div {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .withdraw .holder h1 {
    margin-bottom: 20px;
  }
  .withdraw .holder input {
    width: 100%;
  }
  .withdraw .width {
    width: 100%;
  }
}
