.forgot_password {
  width: 100%;
  background: url("../../img/BG_register_page.svg") no-repeat center / cover;
}
.forgot_password .container {
  margin: 0 auto;
  max-width: 1140px;
  width: 90%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.forgot_password .wrapper {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.forgot_password .bg_login {
  width: 100%;
}
.forgot_password h1 {
  color: var(--white, #fff);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin: 0 0 10px 0;
}
.forgot_password .wrapper p {
  color: var(--white, #cdcdcd);
  font-size: 16px;
  font-weight: 300;
  margin: 12px 0;
}
.forgot_password label {
  color: var(--white, #fff);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 30px;
}
.forgot_password input {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  padding: 0 0 0 15px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--unnamed, #9e9ea5);
  background: var(--unnamed, #171822);
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.forgot_password input::placeholder {
  color: var(--unnamed, #9e9ea5);
}
.forgot_password input:hover {
  border: 1px solid #fff;
}
.forgot_password button {
  margin-top: 40px;
  width: 100%;
  height: 45px;
  border-radius: 15px;
  background: #4ac49e;
  border: none;
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.forgot_password button:hover {
  opacity: 0.8;
}

@media (max-width: 700px) {
  .forgot_password .container {
    padding-top: 200px;
  }
  .forgot_password .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .forgot_password .bg_login {
    display: none;
  }
}
