.home {
  width: 100%;
  min-height: 700px;
}
.home .container {
  margin: 0 auto;
  max-width: 1140px;
  width: 90%;
  height: 100%;
  padding-top: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .container_block {
  max-width: 1140px;
  margin: 0 auto;
  width: 90%;
}
.home .wrapper {
  width: 51%;
}
.home h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}
.home p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.home .wrapper2 p {
  font-size: 14px;
  font-weight: 300;
}
.home .first {
  color: var(--green);
}
.home .btn {
  margin-top: 40px;
  outline: none;
  border: none;
  padding: 15px 35px;
  background: var(--green);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.home .btn:hover {
  opacity: 0.8;
}
.home .wrapper2 {
  width: 285px;
  height: 153px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.home .save {
  display: flex;
  align-items: center;
}
.home .save .bold {
  font-size: 20px;
}
.home .box {
  margin-left: 10px;
  padding: 5px 0;
}

@media (max-width: 750px) {
  .home .container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: 1fr;
  }
  .home .wrapper {
    width: 100%;
  }
  .home .btn {
    width: 100%;
    margin-bottom: 80px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .home .container {
    display: flex;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: 1fr;
  }
  .home h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .home p {
    font-size: 16px;
  }
  .home .wrapper {
    width: 100%;
  }
  .home .wrapper2 {
    width: 100%;
  }
  .home .btn {
    width: 100%;
    margin-bottom: 80px;
    font-size: 14px;
  }
}
